
/*======================================== config =================================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
$blue: #0B4499;

p { 
  margin: 0px;
}

a {
  text-decoration: none;
  color: #000000;
  transition: .3s all !important;
  &:hover { 
    color: $blue;
  }
}

a:hover,
a:focus {
  text-decoration: none; 
}

input {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; 
}

html{
  // scroll-behavior: smooth;
  overflow-x: hidden;
  &.open_menu {
    overflow: hidden;
  }
}
body {
  max-width: 100%;
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 17px;
  line-height: 1.4;
  font-family: 'dmsans';
  font-weight: normal;
  background: url("../images/main.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  @media (max-width: 1400px) {
    font-size: 16px;
  }
  @media (max-width: 1023px) {
    font-size: 14px;
  }
  img {
    max-width: 100%;
  }
}
.container {
  max-width: 1400px;
  @media (max-width: 1600px) {
    max-width: 100%;
    padding: 0 100px;
  }
  @media (max-width: 1400px) {
    padding: 0 80px;
  }
  @media (max-width: 1023px) {
    padding: 0 48px;
  }
  @media (max-width: 767px) {
    padding: 0 24px;
  }
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  //transition: .3s all !important;
  outline: none !important;
}

/*======================================== end config =================================*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  padding: 30px 0;
  @media (max-width: 1023px) {
    padding: 15px 0;
  }
  @media (max-width: 767px) {
    background: #000000;
    padding: 10px 0;
    position: fixed;
  }
  .logo {
    img {
      @media (max-width: 1400px) {
        height: 80px;
      }
      @media (max-width: 767px) {
        height: 45px;
      }
    }
  }
}
.content-menu {
  font-size: 15px;
  font-weight: bold;
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    // @media (max-width: 1023px) {
    //   display: block;
    // }
    li {
      margin-right: 60px;
      @media (max-width: 1200px) {
        margin-right: 40px;
      }
      @media (max-width: 1023px) {
        margin: 0 0 35px 0;
        &:last-child {
          margin: 0;
        }
      }
      a {
        color: #d3ad63;
        display: flex;
        align-items: center;
        @media (max-width: 1023px) {
          font-size: 20px;
        }
        img {
          margin-right: 8px;
        }
      }
    }
  }
  .h-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.btn-menu, .close-menu {
  a {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    color: #d3ad63;
    text-transform: uppercase;
    font-size: 15px;
    img {
      position: relative;
      margin-right: 8px;
    }
  }
}

.mm-menu {
  transition: .3s all !important;
  @media (max-width: 1023px) {
    display: none;
  }
}

footer {
  padding: 50px 0;
  background: #000000;
  color: #9e9e9e;
  font-size: 15px;
  @media (max-width: 767px) {
    padding: 32px 0;
    font-size: 14px;
  }
  ul {
    list-style: none;
  }
  .logo-fter {
    text-align: right;
    @media (max-width: 1023px) {
      text-align: left;
    }
  }
}
.fter-top {
  margin-bottom: 35px;
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
  .row {
    >div {
      @media (max-width: 1023px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    .col-md-5 {
      @media (max-width: 1023px) {
        order: 1;
        margin-bottom: 30px;
      }
    }
    .col-md-7 {
      @media (max-width: 1023px) {
        order: 2;
      }
    }
  }
}
.txt-fter {
  display: flex;
  @media (max-width: 767px) {
    display: block;
  }
}
.item-fter {
  text-transform: uppercase;
  margin-right: 80px;
  @media (max-width: 767px) {
    margin: 0 0 30px 0;
  }
  &:last-child {
    margin: 0;
  }
  h4 {
    font-size: 15px;
    font-weight: bold;
    color: #d3ad63;
    margin-bottom: 12px;
  }
}

.bott-right {
  @media (max-width: 767px) {
    margin-top: 30px;
  }
  a {
    font-weight: bold;
    color: #d3ad63;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    @media (max-width: 767px) {
      justify-content: center;
    }
    li {
      margin-right: 15px;
      padding-right: 15px;
      border-right: 1px solid #cca25a;
      line-height: 1;
      &:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: 0px solid #cca25a;
      }
    }
  }
}

.menu-tracking {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  z-index: 1001;
  transition: .6s all !important;
  top: -40vh;
  opacity: 0;
  pointer-events: none;
  &.open_menu {
    pointer-events: unset;
    top: 0;
    left: 0;
    opacity: 1;
  }
  ul {
    list-style: none;
  }
  .track-top {
    padding: 30px 0;
    @media (max-width: 767px) {
      padding: 10px 0;
    }
  }
  .content-track {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100vh - 200px);
    @media (max-width: 767px) {
      display: block;
      overflow: auto;
      padding-top: 20px;
    }
  }
  .link-detail {
    margin-top: 30px;
    a {
      height: 55px;
      border: 1px solid #d3ad63;
      padding: 0 35px;
      border-radius: 60px;
      &:hover {
        background: #fff;
      }
    }
  }
}
.h-track {
  ul {
    li {
      margin-bottom: 20px;
      @media (max-width: 767px) {
        margin-bottom: 10px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: #fff;
        font-weight: bold;
        font-size: 60px;
        @media (max-width: 1600px) {
          font-size: 50px;
        }
        @media (max-width: 1400px) {
          font-size: 40px;
        }
        @media (max-width: 1023px) {
          font-size: 32px;
        }
        @media (max-width: 767px) {
          font-size: 20px;
        }
        &:hover {
          color: #d3ad63;
        }
      }
    }
  }
}
.info-track {
  font-size: 20px;
  padding-top: 30px;
  @media (max-width: 1600px) {
    font-size: 18px;
  }
  @media (max-width: 1400px) {
    font-size: 16px;
  }
  @media (max-width: 1023px) {
    font-size: 14px;
    padding-top: 20px;
  }
  .skillmedia {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
    @media (max-width: 1023px) {
      font-size: 18px;
    }
  }
  ul {
    li {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: #fff;
        &:hover {
          color: #d3ad63;
        }
      }
    }
  }
}