.title {
  margin-bottom: 60px;
  @media (max-width: 767px) {
    margin-bottom: 24px;
  }
  h2 {
    font-family: 'dou';
    font-size: 42px;
    line-height: 1.1;
    background-image: linear-gradient(90deg, #d3ad63, #8e6832);
    -webkit-background-clip: text;
    color: transparent;
    @media (max-width: 1400px) {
      font-size: 36px;
    }
    @media (max-width: 1023px) {
      br {
        display: none;
      }
    }
    @media (max-width: 767px) { 
      font-size: 24px;
    }
  }
}
.link-detail {
  a {
    color: #d3ad63;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-flex; 
    align-items: center;
    letter-spacing: 2px;
    @media (max-width: 767px) {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
    }
    img {
      margin-left: 24px;
    }
  }
}
.box-bannner {
  position: relative;
  .avarta-banner {
    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  } 
  .btn-scroll { 
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%; 
    padding: 0 0 60px 0;
  }
}
.caption-banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .link-banner {
    margin-top: 40px;
    a {
      color: #d3ad63;
      font-weight: bold;
      text-transform: uppercase;
      display: inline-flex;
      align-items: center;
      letter-spacing: 2px;
      img {
        margin-left: 24px;
        @media (max-width: 767px) {
          display: none;
        }
      } 
    }
  }
  h1 {
    font-family: 'dou';
    font-size: 60px;
    background-image: linear-gradient(90deg, #d3ad63, #8e6832);
    -webkit-background-clip: text;
    color: transparent;
    @media (max-width: 1400px) {
      font-size: 50px;
    }
    @media (max-width: 767px) {
      font-size: 32px;
      br {
        display: none;
      }
    }
  }
}

.box-about {
  background: #141414;
  .content-about {
    display: flex;
    align-items: center;
    @media (max-width: 1023px) {
      display: block;
    }
    >div {
      flex: 0 0 50%;
      max-width: 50%;
      @media (max-width: 1023px) {
        max-width: 100%;
      }
    }
    .left {
      position: relative;
      padding-left: calc((100vw - 1385px) / 2);
      padding-right: 85px;
      @media (max-width: 1600px) {
        padding: 0 80px 0 100px;
      }
      @media (max-width: 1400px) {
        padding: 0 80px;
      }
      @media (max-width: 1023px) {
        padding: 0 48px;
        margin-bottom: 32px;
      }
      @media (max-width: 767px) {
        padding: 0 24px;
        margin-bottom: 24px;
      }
      p {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .right {
      @media (max-width: 1023px) {
        padding: 0 48px;
      }
      @media (max-width: 767px) {
        padding: 0 24px;
      }
    }
    .title {
      margin-bottom: 0;
    }
  }
  .desc {
    padding: 50px 0;
    @media (max-width: 1400px) {
      padding: 32px 0;
    }
    @media (max-width: 1023px) {
      padding: 24px 0;
    }
  }
}
.box-budget {
  padding: 150px 0 0 0;
  @media (max-width: 1400px) {
    padding: 100px 0 0 0;
  }
  @media (max-width: 1023px) {
    padding: 48px 0 0 0;
  }
  @media (max-width: 767px) {
    padding: 32px 0 0 0;
  }
}
.content-budget {
  max-width: 780px;
  margin: 0 auto;
  padding-bottom: 60px;
  @media (max-width: 1023px) {
    padding-bottom: 32px;
  }
  @media (max-width: 767px) {
    text-align: justify !important;
    padding-bottom: 24px;
  }
  p {
    margin-bottom: 30px;
    @media (max-width: 767px) {
      margin-bottom: 18px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.box-discover {
  padding: 220px 0;
  @media (max-width: 1400px) {
    padding: 150px 0;
  }
  @media (max-width: 1023px) {
    padding: 80px 0 48px 0;
  }
  @media (max-width: 767px) {
    padding: 48px 0 32px 0;
  }
  .row {
    margin: 0; 
   >div {
     padding: 0;
   }
  }
  .link-detail {
    margin-top: 40px;
    a {
      margin: 0px;
      display: inline-block;
      span {
        display: block; 
      }
      img {
        margin: 5px 0 0 0;
      }
    } 
  }
}
.item-gem {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  width: 100%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
    transition: .3s all !important;
    &:hover {
      transform: scale(1.03);
    }
  }
}
.box-payment {
  background: #141414;
  @media (max-width: 1023px) {
    padding: 48px 0;
  }
  @media (max-width: 767px) {
    padding: 32px 0;
  }
}
.content-payment {
  display: flex;
  align-items: center;
  @media (max-width: 1023px) {
    flex-wrap: wrap;
    margin-bottom: 48px;
    padding-bottom: 48px;
    border-bottom: 1px solid #484848;
  }
  @media (max-width: 767px) {
    margin-bottom: 24px;
    padding-bottom: 24px;
  }
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0px solid #484848;
  }
  >div {
    flex: 0 0 50%;
    max-width: 50%;
    @media (max-width: 1023px) {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
  .left {
    @media (max-width: 1023px) {
      order: 1 !important;
      padding: 0 48px !important;
      margin-bottom: 32px;
    }
    @media (max-width: 767px) {
      padding: 0 24px !important;
      margin-bottom: 24px;
    }
  }
  .right {
    position: relative;
    padding-right: calc((100vw - 1385px) / 2);
    padding-left: 85px;
    @media (max-width: 1600px) {
      padding: 0 100px 0 80px;
    }
    @media (max-width: 1400px) {
      padding: 0 80px;
    }
    @media (max-width: 1023px) {
      padding: 0 48px !important;
      order: 2 !important;
    }
    @media (max-width: 767px) {
      padding: 0 24px !important;
    }
    p {
      margin-bottom: 20px;
      @media (max-width: 1400px) {
        margin-bottom: 12px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .title {
    margin-bottom: 0;
  }
  .desc {
    padding: 50px 0;
    @media (max-width: 1400px) {
      padding: 30px 0;
    }
    @media (max-width: 1023px) {
      padding: 24px 0;
    }
    @media (max-width: 767px) {
      padding: 16px 0;
    }
  }
  &:nth-child(2n) {
    .right {
      position: relative;
      padding-left: calc((100vw - 1385px) / 2);
      padding-right: 85px;
    }
  }
}
.box-form {
  padding: 200px 0;
  @media (max-width: 1400px) {
    padding: 150px 0;
  }
  @media (max-width: 1023px) {
    padding: 48px 0;
  }
  @media (max-width: 767px) {
    padding: 32px 0;
  }
  .title {
    margin-bottom: 35px;
    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }
  .desc-form {
    margin-bottom: 22px;
  }
  .wpcf7 form .wpcf7-response-output {
      margin: 0;
      padding: 25px 0 0 0;
      border: 0;
      text-align: center;
      font-style: italic;
  }
}
.touch-form {
  text-transform: uppercase;
  color: #d3ad63;
  margin-bottom: 60px;
  @media (max-width: 1023px) {
    margin-bottom: 32px;
  }
}

.frm-content {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  @media (max-width: 767px) {
    font-size: 14px;
  }
  .item {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
      @media (max-width: 767px) {
        text-align: center;
      }
    }
  }
  select {
    width: 100%;
    height: 40px;
    background: transparent;
    outline: none;
    border: 0;
    color: #5a5a5a;
    border-bottom: 1px solid #5a5a5a;
    text-transform: uppercase;
    text-align: center;
  }
  .item-file {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0 30px 0;
    @media (max-width: 767px) {
      padding: 10px 0;
    }
    .inp_file {
      display: none;
    }
    label {
      margin-top: 6px;
      border-bottom: 1px solid;
      cursor: pointer;
    }
  }
  .item-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px) {
      width: 100%;
      max-width: 250px;
    }
    &:after {
      content: url(../images/arrow-right.png);
      position: absolute;
      top: calc(50% - 8px);
      right: 40px;
    }
    .btn_field {
      color: #d3ad63;
      border: 2px solid #d3ad63;
      cursor: pointer;
      height: 70px;
      background: transparent;
      width: 320px;
      border-radius: 70px;
      padding: 0 40px;
      text-align: left;
      font-size: 20px;
      font-weight: bold;
      transition: .3s all !important;
      @media (max-width: 1400px) {
        height: 55px;
      }
      @media (max-width: 767px) {
        width: 100%;
        font-size: 15px;
      }
      &:hover {
        background: #fff;
      }
    }
    p {
      display: inline-flex;
    }
  }
  .wpcf7-spinner {
    position: absolute;
    right: 14px;
    top: calc(50% - 12px);
    background: #d3ad49;
    opacity: 1;
    z-index: 2;
  }
  .wpcf7-not-valid-tip {
      color: #fff;
      font-weight: 100;
      font-size: 14px;
      margin-top: 8px;
      text-align: left;
      font-style: italic;
  }
}
.submitting {
  .item-btn {
    pointer-events: none;
  }
}
.box-about {
  padding: 150px 0;
  @media (max-width: 1400px) {
    padding: 100px 0;
  }
  @media (max-width: 1023px) {
    padding: 48px 0;
  }
  @media (max-width: 767px) {
    padding: 32px 0;
  }
  .row {
    margin: 0;
    >div {
      padding: 0;
      @media (max-width: 1023px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}
.maps {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    object-fit: cover;
    @media (max-width: 767px) {
      height: 200px;
    }
  }
  iframe {
    filter: grayscale(1);
    width: 100%;
    height: 500px;
    @media (max-width: 767px) {
      height: 200px;
    }
  }
}
.item-about {
  margin-bottom: 150px;
  @media (max-width: 1400px) {
    margin-bottom: 100px;
  }
  @media (max-width: 1023px) {
    margin-bottom: 48px;
    padding-bottom: 48px;
    border-bottom: 1px solid #453d3d;
  }
  @media (max-width: 767px) {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #453d3d;
  }
  &:last-child {
    margin-bottom: 0;
    @media (max-width: 1023px) {
      padding-bottom: 0;
      border-bottom: 0px solid #453d3d;
    }
  }
  &:nth-child(2n) {
    .col-md-6 {
      &:first-child { 
        order: 2;
        @media (max-width: 1023px) {
          order: 1;
        }
      }
      &:last-child {
        order: 1;
        @media (max-width: 1023px) {
          order: 2;
        }
      }
    }
    .txt-about {
      padding: 0 80px 0 0;
      @media (max-width: 1023px) {
        padding: 0;
      }
    }
  }
  .txt-about {
    padding-left: 80px;
    @media (max-width: 1023px) {
      padding: 32px 0 0 0 !important;
    }
    @media (max-width: 767px) {
      padding: 24px 0 0 0 !important;
    }
    h3 {
      font-size: 42px;
      font-family: 'dou';
      background-image: linear-gradient(90deg, #d3ad63, #8e6832);
      -webkit-background-clip: text;
      color: transparent;
      @media (max-width: 1400px) {
        font-size: 36px;
      }
      @media (max-width: 767px) {
        font-size: 24px;
      }
    }
  }
  .desc {
    padding: 30px 0;
    @media (max-width: 767px) {
      padding: 16px 0;
    }
    p {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    ul {
      padding: 0 0 18px 0;
      margin-bottom: 15px;
    }
  }
}

.banner-about {
  padding: 250px 0 100px 0;
  @media (max-width: 1400px){
    padding: 220px 0 80px 0;
  }
  @media (max-width: 767px) {
    display: flex;
    height: 100vh;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
}
.desc-banner {
  max-width: 730px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  p {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.loadmore-case {
  padding: 0 0 200px 0;
  @media (max-width: 1400px) {
    padding: 0 0 100px 0;
  }
  @media (max-width: 1023px) {
    padding: 0;
  }
  a {
    color: #d3ad63;
    border: 2px solid #d3ad63;
    border-radius: 70px;
    height: 70px;
    width: 410px;
    padding: 0 50px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1023px) {
      padding: 0 32px;
      height: 55px;
      width: auto;
    }
    &:hover {
      background: #fff;
    }
    img {
      @media (max-width: 1023px) { 
        margin-left: 24px;
      }
    }
  }
}

.list-case {
  padding-bottom: 150px;
  @media (max-width: 1400px) {
    padding-bottom: 80px;
  }
  @media (max-width: 1023px) {
    padding-bottom: 0;
  }
  .content-payment {
    &:nth-child(2n) {
      .left {
        order: 2;
      }
      .right {
        order: 1;
      }
    }
  }
}

.caption-contact {
  p {
    margin-bottom: 0;
  }
}
.box-contact-cate {
  background: #000000;
  padding: 100px 0;
  @media (max-width: 1023px) {
    padding: 48px 0;
  }
  @media (max-width: 767px) {
    padding: 32px 0;
  }
  .frm-content {
    max-width: 100%;
    text-align: left;
    select {
      text-align: left;
    }
    .item-file {
      text-align: left;
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        display: block;
        text-align: center;
      }
      label {
        margin-top: 0;
        margin-left: 8px;
        @media (max-width: 767px) {
          margin-left: 0;
        }
      }
    }
  }
}

.txt-contact {
  @media (max-width: 767px) {
    margin-bottom: 24px;
  }
  .item-contact {
    margin-bottom: 40px;
    font-size: 20px;
    @media (max-width: 1400px) {
      font-size: 16px;
      margin-bottom: 32px;
    }
    @media (max-width: 1023px) {
      font-size: 14px;
      margin-bottom: 24px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .t-contact {
      font-family: 'dou';
      font-size: 28px;
      margin-bottom: 15px;
      @media (max-width: 1400px) {
        font-size: 22px;
        margin-bottom: 10px;
      }
      @media (max-width: 1023px) {
        font-size: 20px;
      }
      span {
        background-image: linear-gradient(90deg, #d3ad63, #8e6832);
        -webkit-background-clip: text;
        color: transparent;
      }
    }
    ul {
      list-style: none;
      li {
        margin-bottom: 4px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  a {
    color: #fff;
    &:hover {
      color: #d3ad63;
    }
  }
}

.box-piece {
  position: relative;
  padding: 100px 0 200px 0;
  background: #141414;
  overflow: hidden;
  @media (max-width: 1400px) {
    padding: 100px 0;
  }
  @media (max-width: 767px) {
    padding: 24px 0;
  }
}
.item-piece {
  position: relative;
  padding-bottom: 120px;
  max-width: 590px;
  margin: 0 auto;
  @media (max-width: 767px) {
    padding-bottom: 24px;
  }
  &:after {
    content: "";
    width: 1px;
    height: 90px;
    background: linear-gradient(#d3ad63, #8e6832);
    position: absolute;
    top: -105px;
    left: 50%;
    z-index: 22;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &:first-child {
    &:after {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  h3 {
    margin-bottom: 22px;
    background-image: linear-gradient(90deg, #d3ad63, #8e6832);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    font-family: 'dou';
    @media (max-width: 1400px) {
      font-size: 32px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }
  .desc {
    position: relative;
    z-index: 2;
  }
  .icon {
    position: absolute;
    bottom: 10%;
    mix-blend-mode: exclusion;
    @media (max-width: 767px) {
      opacity: 0;
    }
  }
  &:nth-child(2n+1) {
    .icon {
      right: -25%;
    }
  }
  &:nth-child(2n) {
    .icon {
      left: -35%;
    }
  }
}
.btn-piecr {
  position: relative;
  &:after {
    content: "";
    width: 1px;
    height: 90px;
    background: linear-gradient(#d3ad63, #8e6832);
    position: absolute;
    top: -105px;
    left: 50%;
    z-index: 22;
    @media (max-width: 767px) {
      display: none;
    }
  }
  a {
    color: #d3ad63;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    height: 70px;
    border: 1px solid #d3ad63;
    border-radius: 70px;
    &:hover {
      background: #fff;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      padding: 0 20px;
      height: 50px;
      letter-spacing: 0;
    }
    img {
      margin-left: 24px;
      position: relative;
      top: -1px;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}
.box-pricing {
  position: relative;
  padding: 200px 0 80px 0;
  @media (max-width: 1400px) {
    padding: 120px 0 60px 0;
  }
  @media (max-width: 1023px) {
    padding: 48px 0;
  }
}
.content-pricing {
  .row {
    margin: 0 -50px;
    @media (max-width: 767px) {
      margin: 0 -12px;
    }
    >div {
      padding: 0 50px;
      @media (max-width: 1023px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
      @media (max-width: 767px) {
        padding: 0 12px;
      }
    }
  }
  p {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  h2, h3, h4, h5, h6 {
    background-image: linear-gradient(90deg, #d3ad63, #8e6832);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'dou';
    font-size: 40px;
    margin-bottom: 40px;
    @media (max-width: 1400px) {
      font-size: 32px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  } 
  .cate-pricing {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, #d3ad63, #8e6832);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 10px;
  }
  .txt-pricing {
    @media (max-width: 1023px) {
      margin-bottom: 32px;
    }
  }
}
.item-pricing {
  background: #141414;
  padding: 50px 75px;
  margin-bottom: 100px;
  font-size: 15px;
  position: relative;
  @media (max-width: 1023px) {
    padding: 48px;
  }
  @media (max-width: 767px) {
    padding: 24px;
    font-size: 14px;
    margin-bottom: 24px;
    .desc {
      text-align: justify;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
  p {
    img {
      padding: 35px 0;
    }
    &:first-child {
      img {
        padding: 0 0 30px 0;
      }
    }
  }
  h3 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 40px;
    background-image: linear-gradient(90deg, #d3ad63, #8e6832);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'dou';
    @media (max-width: 1400px) {
      font-size: 32px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }
  .icon-arrow {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    bottom: -90px;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &:last-child {
    .icon-arrow {
      display: none;
    }
  }
}

.t-check-price {
  color: #888888;
  font-size: 30px;
  font-family: 'dou';
  position: relative;
  margin-bottom: 80px;
  @media (max-width: 1400px) {
    font-size: 24px;
    margin-bottom: 60px;
  }
  @media (max-width: 767px) {
    margin-bottom: 24px;
  }
  &:after {
    content: url(../images/arrow-1.png);
    position: absolute;
    bottom: -119px;
    left: 5%;
    z-index: 2;
    @media (max-width: 767px) {
      display: none;
    }
  }
}
.box-cost {
  padding: 200px 0 0 0;
  @media (max-width: 1400px) {
    padding: 100px 0 0 0;
  }
  @media (max-width: 1023px) {
    padding: 48px 0 0 0;
  }
  @media (max-width: 767px) {
    padding: 24px 0 0 0;
  }
  .row {
    margin: 0 -40px;
    @media (max-width: 767px) {
      margin: 0 -12px;
    }
    >div {
      padding: 0 40px;
      @media (max-width: 1023px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
      @media (max-width: 767px) {
        padding: 0 12px;
      }
    }
  }
}
.txt-cost {
  font-size: 16px;
  @media (max-width: 1023px) {
    font-size: 14px;
    margin-top: 32px;
  }
  @media (max-width: 767px) {
    margin-top: 24px;
  }
  h3 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 40px;
    font-family: 'dou';
    background-image: linear-gradient(90deg, #d3ad63, #8e6832);
    -webkit-background-clip: text;
    color: transparent;
    @media (max-width: 1400px) {
      font-size: 32px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }
  p {
    &:empty {
      margin-bottom: 20px;
    }
  }
}